body{
   background-color: #518de8;
}
.container{
    background-color: #fff;
    width: 350px;
    margin-top: 40px;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow:1px 1px 5px #000;
    height: 600px;
    align-items: center;
}

.informacoes{
    text-align: center;
    margin-top: 60px;
}
.proximo{
    align-items: center;
    width: 322px;
    height: 42px;
    background-image: linear-gradient(135deg, #bfcfff 0, #518de8 50%, #0053cc 100%);
    border-radius: 7px ;
    border: none;
    color: aliceblue;
}

.bola-linha{
    display: flex;
    justify-content: center;
}
.circulo{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 100%;
    border: 2px solid;
    text-align: center;
    padding: 2px;
    background-image: linear-gradient(135deg, #bfcfff 0, #518de8 50%, #0053cc 100%);
    
}
.traco{
    width: 4rem;
    height: 0.2rem;
    background-color: black;
    margin-top: 12px;

}
.caixa-input{
    align-items: center;
    
}
.caixa{
    width: 315px;
    height: 30px;
    border-radius: 10px;
}
.container{
    justify-content: center;
}
